.menus {
  list-style-type: none;
  .menuItem {
    display: inline-block;
    width: calc(100%/3);
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0;
  }
  .active {
    border-bottom: 3px solid green;
  }
}